.Colleges {
  grid-column: 4/ 5;
  grid-row: 4/5;
  width: auto;
  height: 440px;
  border: none;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
  background-color: #fbfbfb;
  margin: 0px;
}
