.College {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border: 5px solid transparent;
  position: relative;
}

.College-image {
  vertical-align: middle;
  height: 120px;
  width: 200px;
  border: 1px solid #d0d8d0;
  position: relative;
}

.College-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px 0px 2px 2px;
  border: transparent 0px;
  height: 30px;
  width: 150px;
}
.video-overlay-play-button {
  box-sizing: border-box;
  height: 120px;
  width: 200px;
  padding: 10px calc(50% - 40px);
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  opacity: 0.3;
  cursor: pointer;
  background-image: linear-gradient(transparent, #000);
  transition: opacity 150ms;
}
