.Colleges {
  grid-column: 4/ 4;
  grid-row: 4/5;
  border: none;
  background-color: #fbfbfb;
  margin-top: 10px;
  border-top: 1px solid rgb(216, 216, 216);
  box-shadow: rgb(0 0 0 / 25%) 0px 1px 4px;
}

@media screen and (max-width: 768px) {

  .Colleges {
    grid-column: 1/ 5;
    grid-row: 5/5;
    margin-top: 60px  ;
  }
}
