.Logo {
  grid-column: 1 / 1;
  grid-row: 1;
  height: 70px;
  box-sizing: border-box;
  padding: 5% 0 0 17%;
}

@media screen and (max-width: 425px) {

  .Logo {
    display: flex;
    align-items: center;
  }

  .Logo img {
    width: 90px;
  }
}
